<form method="POST" id ="profileTopSet" action="/login" >
                                    
                                      <input type="submit" id="profileTopSet"  value="sign out" placeholder="Edit me"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>    
                              
                              </form>            

{{#each infos}}
  
  <p id="feeds" >  <img src="{{image}}" id="imagePeople">  {{first_name}} {{last_name}}</p>
  
 <p>----------------------------</p>
{{/each}}

<br>
<p id="profileTop">Hi {{user}}</p>

<h1>Welcome to WBConnect</h1>
<div id ="Menubar">
<form method="POST"  action="/people" >
                                    
                                      <input type="submit" id="bar" value="Find People" placeholder="Edit me"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>    
                              
                              </form>            
<form method="POST"  action="/events" >
                                    
                                      <input type="submit" id="bar" value="Find Events" placeholder="Edit me"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>    
                              
                              </form>    
                              <form method="POST"  action="/tweets" >
                                    
                                      <input type="submit" id="bar" value="Bolly News" placeholder="Edit me"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>    
                              
                              </form>    
                              <form method="POST"  action="/" >
                                    
                                      <input type="submit" id="bar" value="Restaurents" placeholder="Edit me"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>    
                              
                              </form>  
                              </div>
<div id="border">
 
<br>

<form method="POST" id ="postNew" action="/main" >
                                      <input id="feeds" type="text" name="feeds"></input>   
                                      <input type="submit" id="postNew" value="Post"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>   
                               
                              
                              </form>            


  {{#each name}}
  
  <p id="feeds" >  <img src="{{image}}" id="imagePeople">  {{first_name}} {{last_name}}</p>
  <p>{{feeds}}
 <p>----------------------------</p>
{{/each}}
</div>
    