
<b id="findPeople">FIND PEOPLE</b>
{{#each infos}}
  
  <p id="feeds" >  <img src="{{image}}" id="imagePeople">  {{first_name}} {{last_name}}</p>
  
 <p>----------------------------</p>
{{/each}}

<br>
<p id="profileTop">Hi {{user}}</p>
<form method="POST" id ="profileTopSet" action="/edit" >
                                    
                                      <input type="submit" id="profileTopSet"  value="*" placeholder="Edit me"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>   
                               
                              
                              </form>            
<h1>Welcome to WBConnect</h1>

<div id="border">
<br>

<form method="POST" id ="postNew" action="/main" >
                                      <input id="birth_place" type="text" name="birth_place"></input>   
                                      <input type="submit" id="postNew" value="Post"></input>
                                          <input type="text" id="first_name" name="first_name" value={{user}}></input>   
                               
                              
                              </form>            


  {{#each name}}
  
  <p id="feeds" >  <img src="{{image}}" id="imagePeople">  {{first_name}} {{last_name}}</p>
  <p id="feeds">{{birth_place}}</p>
  <p id="feeds">{{designation}}</p>
  <p id="feeds">{{gender}}</p>
  <p id="feeds">{{Marriagestatus}}</p>
  <p id="feeds">{{birth_place}}</p>
  <p id="feeds">{{current_location}}</p>

 <p>----------------------------</p>
{{/each}}
</div>
    